.un-article-colonne-titre {font-size:17px;background-color:#dedede;color:#366c84;font-family:roboto;;}
.un-article-colonne-suite {text-transform:uppercase;text-decoration:underline;color:#48a93e;font-weight:bold;;}
.liens-liste-groupe-titre {background-color:#366c84;font-size:20px;font-family:roboto;;}
.un-lien-liste-titre {font-size:15px;font-family:roboto;;}
.un-lien-liste-contenu {color:#443f43;;}
.un-lien-liste-header {background-color:#4d4d4d;;}
.un-lien-liste-footer {background-color:#4d4d4d;;}
.liens-bloc-groupe-titre {background-color:#366c84;font-family:roboto;color:white;font-size:19px;;}
.phototheque-classic-nom {background-color:#366c84;font-size:16px;font-family:roboto;;}
.telechargement-groupe-nom {background-color:#366c84;font-size:18px;;}
table.ui-datepicker-calendar tbody td.specialDay a {border:1px solid #443f43;background:#443f43;;}
.menu-principal-horizontal {background-color:rgba(1,172,222,0.7);;}
.menu-principal-horizontal-item {color:white;;}
a.menu-principal-horizontal-item-titre {color:white !important;;}
.menu-principal-horizontal-item:hover > a.menu-principal-horizontal-item-titre {background-color:rgb(1,172,222);;}
.menu-principal-horizontal-submenu {background-color:rgb(1,172,222);;}
.menu-principal-horizontal-submenu-item {background-color:rgb(1,172,222);;}
a.menu-principal-horizontal-submenu-item-titre {color:white;;}
.current-horizontal-item > a.menu-principal-horizontal-item-titre {background-color:rgba(0,0,0,0.6);color:white;;}
.template-footer {background-color:rgb(72,169,62);;}
.logo-essentiel img {width:200px;max-height:auto;;}
.mce-content-body {}
#liens-liste-17 .un-lien-liste-footer {background-color:#366c84;;}
#liens-bloc-27 a.un-lien-bloc-savoir-plus {display:none;;}
#liens-bloc-27 .un-lien-bloc-header {font-family:roboto;font-size:17px;;}
#menu-principal-horizontal-submenu-2 .menu-principal-horizontal-submenu-item .menu-principal-horizontal-submenu-item-titre {font-size:15px;;}
#menu-principal-horizontal-submenu-3 .menu-principal-horizontal-submenu-item .menu-principal-horizontal-submenu-item-titre {font-size:15px;;}
#menu-principal-horizontal-submenu-5 .menu-principal-horizontal-submenu-item .menu-principal-horizontal-submenu-item-titre {font-size:15px;;}
#menu-principal-horizontal-submenu-4 .menu-principal-horizontal-submenu-item .menu-principal-horizontal-submenu-item-titre {font-size:15px;;}
#menu-principal-horizontal-submenu-6 .menu-principal-horizontal-submenu-item .menu-principal-horizontal-submenu-item-titre {font-size:15px;;}
#menu-principal-horizontal-submenu-7 .menu-principal-horizontal-submenu-item .menu-principal-horizontal-submenu-item-titre {font-size:15px;;}
#menu-principal-horizontal-submenu-8 .menu-principal-horizontal-submenu-item .menu-principal-horizontal-submenu-item-titre {font-size:15px;;}
#menu-principal-horizontal-submenu-9 .menu-principal-horizontal-submenu-item .menu-principal-horizontal-submenu-item-titre {font-size:15px;;}
#articles-detail-popup-26 .un-article-detail-popup-header {background-color:#dedede;;}
#articles-detail-popup-26 .un-article-detail-popup-publication {background-color:#dedede;;}
#wrapper-bloc-2 {background-color:#366c84;;}
.btn-liste-selector-21 {color:black;;}
.calendar-liste-contenu-texte {color:#48a93e;;}
.fa-arrow-up:before {color:white;;}
.menu-principal-horizontal::after {background-color:rgb(72, 169, 62);;}
.meteo-light img {width:50px;;}
.recherche .recherche-text {border-bottom:1px solid #443f43;;}
.recherche a, .recherche a:hover, .recherche a:link, .recherche a:visited {background-color:#443f43;;}
.un-article-detail-popup-header {background-color:#dedede;;}
a, a:link, a:active, a:hover, a:visited {color:#443f43;;}
a.btn-liste-selector:hover {background-color:#443f43;;}
a.fancybox-teleprocedures {color:#366c84;;}
a.menu-principal-horizontal-item:active, a.menu-principal-horizontal-item:visited, a.menu-principal-horizontal-item:link {color:white;;}
a.telechargement.telechargement-pdf {color:#443f43;;}
a.un-lien-liste-telephone-fax {color:white;;}
a.un-lien-liste-telephone-fixe {color:white;;}
a.un-lien-liste-telephone-portable {color:white;;}
a.un-lien-liste-website {color:white;;}
div.meteo-light {font-size:18px;;}
