html {
	padding: 0;
	margin: 0;
}

body {
	padding: 0;
	margin: 0;
	font-family: Roboto, Tahoma, Helvetica, Arial, Verdana;
	color: #928e92;
}

.template-contents {
	max-width: 100%;
	margin: 0 auto;
}

.template-header {
	overflow: visible;
	position: relative;
	z-index: 100;
	width:100%;
	
}

@media screen and (max-width: 470px) {
.template-header {position:relative;}

}

@media screen and (min-width: 470px) and (max-width: 980px) {
.template-header {position:relative;}

}

@media screen and (min-width: 980px) {
.template-header {position:absolute;}

}


.template-body {
	
}

.template-footer {
	background-color: #69d3ed;	
	color: #ffffff;
	clear:both;
}

.footer-template {padding:10px 0; color:white;max-width:1200px;margin:0 auto;}

.template-header-content {
	position: relative;
	
}

.template-body-content {max-width:100%;}

.template-footer-content {
	
}

.template-animation {
	max-width: 100% !important;
	position: relative;
	clear: both;
}

.template-animation-content {
	width: 100%;
	
}

.template-animation-content img {
	width: 100%;
	height: auto;
}

.body-left {
	
}

.body-right {
	
}

.logo-essentiel {
	max-height: 250px;
	width:100%;
	text-align:center;
}

.logo-essentiel img {
	height: 100%;
	width: auto;
}

.nom-page { 
    float: left;
}

.recherche {
    float: right; 
    margin-top: 15px;
    margin-right:10px;
}


@media screen and (max-width: 470px) {
.logo-essentiel img {width:100%;height:auto;}
}

.header-text {
	width:100%;
	clear:both;
	text-align:center;	
	font-size: 20px;	
	color: #bab4b8;
	padding: 25px 0;	
}

.bloc-logo {
	float: left;
	padding-top: 20px;
}

.footer-text {	
	font-size: 16px;
	color: #ffffff;	
	padding: 10px 0;
	text-align:center;
}

.menu-pied-de-page {float:right;}

.bloc-address {
	width:100%;
}

address {
 	font-size: 16px;
 	text-align:center;
 	padding:10px 0;
}

a, a:link, a:active, a:hover, a:visited {
	color: #69d3ed;
	text-decoration: none;
}

.social-networks {
    float:right;
	padding: 10px 0;
	margin-left:10px;	
}

.social-networks .socicon, .social-networks .fa {font-size: 20px;}
.social-networks .fa {padding: 7px 6px 5px;}

.menu-principal-horizontal {
	float: none;
    width: 100%;
    text-align: center;overflow: visible;height: 80px;
    height:auto;
	font-size:0;
    margin-top: 30px;
}

.nom-page-text {
	color: #443f43;
	font-size: 32px;
	line-height: 50px;
}

.menu-principal-horizontal-item {
	display:inline-block;
	float:none;
	background-color: transparent;
	-webkit-transition-property: background-color, color;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	-moz-transition-property: background-color, color;
	-moz-transition-duration: 0.3s;
	-moz-transition-timing-function: ease-out;
	transition-property: background-color, color;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
}

.menu-principal-horizontal-item:hover {
	background-color: #69d3ed;
	color: white;
	-webkit-transition-property: background-color, color;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	-moz-transition-property: background-color, color;
	-moz-transition-duration: 0.3s;
	-moz-transition-timing-function: ease-out;
	transition-property: background-color, color;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
}

.menu-principal-horizontal-item:hover>a.menu-principal-horizontal-item-titre
	{
	color: white;
	-webkit-transition-property: background-color, color;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	-moz-transition-property: background-color, color;
	-moz-transition-duration: 0.3s;
	-moz-transition-timing-function: ease-out;
	transition-property: background-color, color;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
}

.menu-principal-horizontal-item::after {
	content: "";
	position: absolute;
}

a.menu-principal-horizontal-item-titre {
	color: #615d60;	
	height: auto;
	max-width: 200px;
	display: table-cell;
    vertical-align: middle;
    text-align: center;	
    font-size:16px;
	-webkit-transition-property: background-color, color;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	-moz-transition-property: background-color, color;
	-moz-transition-duration: 0.3s;
	-moz-transition-timing-function: ease-out;
	transition-property: background-color, color;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
}

.menu-principal-horizontal-submenu {
	background-color: transparent;
	padding-top: 5px;
	-webkit-transition-property: display;
}

.menu-principal-horizontal-submenu-item {
	background-color: #69d3ed;
}

a.menu-principal-horizontal-submenu-item-titre {
	color: white;
	font-size:14px;
}

.menu-principal-horizontal-submenu-item {
	-webkit-transition: 0.3s all ease;
	transition: 0.3s all ease;
}

.menu-principal-horizontal-submenu-item:hover > a.menu-principal-horizontal-submenu-item-titre
	{
	color: #615d60;
	-webkit-transition: 0.3s all ease;
	transition: 0.3s all ease;
}

.bloc-menu {
	display: block;
}

a.menu-pied-de-page-item-titre, a.menu-pied-de-page-submenu-item-titre {color:white;}

.un-lien-liste-email::before,
.un-lien-liste-website::before,
.un-lien-liste-geloc-icon::before,
.un-lien-liste-telephone-fixe::before,
.un-lien-liste-telephone-fax::before,
.un-lien-liste-telephone-portable::before {color:white;}

a.un-lien-liste-email,
a.un-lien-liste-website,
a.un-lien-liste-geloc-icon,
a.un-lien-liste-telephone-fixe,
a.un-lien-liste-telephone-fax,
a.un-lien-liste-telephone-portable {color:white;}

.module-bloc-item-titre {text-align: center;}

@media screen and (max-width: 470px) {
	.menu-principal-horizontal {display:none ! important;}
	.menu-principal-smartphone-menu {display:block ! important;}
.logo-essentiel img {width:100%;height:auto;}
.header-text {text-align:center;}
.footer-text, address {width:100%;padding:10px 0;text-align:center;}
.social-networks {float: none;padding-top: 25px;width: 100%;clear: both;padding: 10px 0;text-align: center;}
.bloc-address {
    float: left;
    padding-top: 25px;
    width: 100%;
    padding: 10px 0;
}

.menu-pied-de-page {
    float: none;
    text-align: center;
    width: 100%;
    padding: 10px 0;
}

.menu-pied-de-page li {
    float: none;
    display: inline-block;
}

.template-footer {padding-bottom:0px;}
}

@media screen and (max-width: 980px) {

	.social-networks {float: left;
    clear: both;
    text-align: center;}
	
	
}