a, a:link, a:active, a:hover, a:visited {
	color: #bcd017;
}

.current-horizontal-item {background-color: white;}

.recherche a, .recherche a:hover, .recherche a:link, .recherche a:visited {background-color:#bcd017;}
.recherche .recherche-text {    border-bottom: 1px solid #bcd017;}


body {
	color: #928e92;
}

.template-footer {
	background-color: #bcd017;
	color: #ffffff;
}


.header-text {		
	color: #bcd017;	
}

.footer-text {		
	color: #ffffff;	
}

.nom-page-text {
	color: #443f43;	
}

.menu-principal-horizontal {
	background-color:rgba(188,208,23,0.7);
}

.menu-principal-horizontal-item:hover {
	background-color: #bcd017;
	color: white;	
}

.menu-principal-horizontal-item:hover>a.menu-principal-horizontal-item-titre {
	color: white;	
}

a.menu-principal-horizontal-item-titre {
	color: #615d60;	
}

.menu-principal-horizontal-submenu-item {
	background-color:rgba(188,208,23,0.7);
}

a.menu-principal-horizontal-submenu-item-titre {
	color: white;	
}

.menu-principal-horizontal-submenu-item:hover>.menu-principal-horizontal-submenu-item-titre {
	color: #615d60;
}

.un-lien-liste,
.sondage-bar-vote {background-color:#bcd017;color:white;}

.un-lien-liste-contenu{color : #bcd017;}

.telechargement-groupe-nom,
.un-article-detail-popup-header,
.calendrier-titre,
.phototheque-classic-nom,
.phototheque-legende-nom,
.sondage-bar-your-vote,
.liens-liste-groupe-titre {background-color:#bcd017;color:white;}

.copyright a, .copyright a:link, .copyright a:hover, .copyright a:visited {color: #bcd017;}
table.ui-datepicker-calendar tbody td.specialDay a {border: 1px solid #bcd017;background: #bcd017;color: white;}


.un-lien-liste-header, .un-lien-liste-footer { color:white;}

.un-lien-liste-email::before,
.un-lien-liste-website::before,
.un-lien-liste-geloc-icon::before,
.un-lien-liste-telephone-fixe::before,
.un-lien-liste-telephone-fax::before,
.un-lien-liste-telephone-portable::before {color:white;}

a.un-lien-liste-email,
a.un-lien-liste-website,
a.un-lien-liste-geloc-icon,
a.un-lien-liste-telephone-fixe,
a.un-lien-liste-telephone-fax,
a.un-lien-liste-telephone-portable {color:white;}

a.menu-pied-de-page-item-titre, a.menu-pied-de-page-submenu-item-titre {color:white;}

.menu-topscreen, .menu-topscreen-submenu {background-color: white;}
a.menu-topscreen-item-titre, a.menu-topscreen-submenu-item-titre {color:#615d60;}