@font-face {
    font-family: 'socicon';
    src: url('/font/socicon-webfont.eot');
    src: url('/font/socicon-webfont.eot?#iefix') format('embedded-opentype'),
    url('/font/socicon-webfont.woff') format('woff'),
    url('/font/socicon-webfont.ttf') format('truetype'),
    url('/font/socicon-webfont.svg#sociconregular') format('svg');
    font-weight: normal;
    font-style: normal;


}

@font-face {
    font-family: 'FontAwesome';
    src: url('/font/fontawesome-webfont.eot?v=4.7.0');
    src: url('/font/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
    url('/font/fontawesome-webfont.woff?v=4.7.0') format('woff'),
    url('/font/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
    url('/font/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(/font/MaterialIcons-Regular.eot);
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(/font/MaterialIcons-Regular.woff2) format('woff2'),
    url(/font/MaterialIcons-Regular.woff) format('woff'),
    url(/font/MaterialIcons-Regular.ttf) format('truetype');
}