.element-1 {
	width: 1%;
	height: auto;
}

.element-2 {
	width: 2%;
	height: auto;
}

.element-3 {
	width: 3%;
	height: auto;
}

.element-4 {
	width: 4%;
	height: auto;
}

.element-5 {
	width: 5%;
	height: auto;
}

.element-6 {
	width: 6%;
	height: auto;
}

.element-7 {
	width: 7%;
	height: auto;
}

.element-8 {
	width: 8%;
	height: auto;
}

.element-9 {
	width: 9%;
	height: auto;
}

.element-10 {
	width: 10%;
	height: auto;
}

.element-11 {
	width: 11%;
	height: auto;
}

.element-12 {
	width: 12%;
	height: auto;
}

.element-13 {
	width: 13%;
	height: auto;
}

.element-14 {
	width: 14%;
	height: auto;
}

.element-15 {
	width: 15%;
	height: auto;
}

.element-16 {
	width: 16%;
	height: auto;
}

.element-17 {
	width: 17%;
	height: auto;
}

.element-18 {
	width: 18%;
	height: auto;
}

.element-19 {
	width: 19%;
	height: auto;
}

.element-20 {
	width: 19.6%;;
	margin: 0.2%;
	height: auto;
}

.element-25 {
	width: 24.6%;;
	margin: 0.2%;
	height: auto;
}

.element-30 {
	width: 29.6%;;
	margin: 0.2%;
	height: auto;
}

.element-33 {
	width: 32.6%;;
	margin: 0.2%;
	height: auto;
}

.element-35 {
	width: 34.6%;;
	margin: 0.2%;
	height: auto;
}

.element-40 {
	width: 39.6%;;
	margin: 0.2%;
	height: auto;
}

.element-45 {
	width: 44.6%;;
	margin: 0.2%;
	height: auto;
}

.element-50 {
	width: 49.6%;
	margin: 0.2%;
	height: auto;
}

.element-55 {
	width: 54.6%;;
	margin: 0.2%;
	height: auto;
}

.element-60 {
	width: 59.6%;;
	margin: 0.2%;
	height: auto;
}

.element-65 {
	width: 64.6%;;
	margin: 0.2%;
	height: auto;
}

.element-66 {
	width: 65.6%;;
	margin: 0.2%;
	height: auto;
}

.element-70 {
	width: 69.6%;;
	margin: 0.2%;
	height: auto;
}

.element-75 {
	width: 74.6%;;
	margin: 0.2%;
	height: auto;
}

.element-80 {
	width: 79.6%;;
	margin: 0.2%;
	height: auto;
}

.element-85 {
	width: 84.6%;;
	margin: 0.2%;
	height: auto;
}

.element-90 {
	width: 89.6%;;
	margin: 0.2%;
	height: auto;
}

.element-95 {
	width: 94.6%;;
	margin: 0.2%;
	height: auto;
}

.element-100 {
	width: 100%;
	height: auto;
}

.fit-to-original {width:auto;height:auto;max-width:100%;}

@media screen and (max-width: 470px) {
	.element-20, .element-25, .element-30, .element-33, .element-35,
		.element-40, .element-45, .element-50, .element-55, .element-60,
		.element-65, .element-66, .element-70, .element-75, .element-80,
		.element-85, .element-90, .element-95, .element-100 {
		width: 99%;
		margin: 0.5% !important;
		height: auto;
		clear: both;
	}
}

.video-container {
	position: relative;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
}

.video-container img {
	width: 100% !important;
	height: 100% !important;
}

.responsive-container {
	width: 100% !important;
	max-width: 100%;
	overflow: hidden;
}

.fullheight-container {overflow: hidden;}

.video-container iframe, .video-container object, .video-container embed
	{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* apply a dashed border to all unresolved elements */
:unresolved {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px dashed #aeaeae;
	display: inline-block;
	width: 100%;
}
/* x-panel's that are unresolved are red */
x-websee:unresolved {
	color: red;
}
/* once the definition of x-panel is registered, it becomes green */
x-websee {
	margin: 0px;
	position: relative;
	color: green;
	display: block;
	padding: 0px;
	/* float: left;*/
}

.x-websee-titre {
	width: 99%;
	background-color: #dedede;
	padding: 0.5%;
	color: black;
	display: block;
}

.websee-inner-html {
	position: relative;
}

#co-marquage {
	max-width: 100%;
}

/* Kukuri */


a.link--kukuri, a.link--kukuri:hover, a.link--kukuri:link, a.link--kukuri:visited {
	color:lime;	
	outline: none;
	text-decoration: none;
	position: relative;	
	line-height: 1;	
	display: inline-block;
	overflow: hidden;	
}

a.link--kukuri:hover {
	color: #c5c2b8;
}

a.link--kukuri::after {
	background: red;
	color:transparent;
	content: ' ';
	position: absolute;
	font-size:10%;
	width: 100%;
	top:50%;
	right:0%;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

a.link--kukuri:hover::after {
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}

a.link--kukuri::before {
	color: #424242;
	
	content: inherit;
	position: absolute;
	z-index: 2;
	overflow: hidden;
	white-space: nowrap;
	width: 0%;
	-webkit-transition: width 0.4s 0.3s;
	transition: width 0.4s 0.3s;
}

a.link--kukuri:hover::before {
	width: 100%;
}