/*
            .jssorb01 div           (normal)
            .jssorb01 div:hover     (normal mouseover)
            .jssorb01 .av           (active)
            .jssorb01 .av:hover     (active mouseover)
            .jssorb01 .dn           (mousedown)
            */
.jssorb01 div, .jssorb01 div:hover, .jssorb01 .av {
	filter: alpha(opacity = 70);
	opacity: .7;
	overflow: hidden;
	cursor: pointer;
	border: #000 1px solid;
}

.jssorb01 div {
	background-color: gray;
}

.jssorb01 div:hover, .jssorb01 .av:hover {
	background-color: #d3d3d3;
}

.jssorb01 .av {
	background-color: #fff;
}

.jssorb01 .dn, .jssorb01 .dn:hover {
	background-color: #555555;
}

/*
            .jssorb02 div           (normal)
            .jssorb02 div:hover     (normal mouseover)
            .jssorb02 .av           (active)
            .jssorb02 .av:hover     (active mouseover)
            .jssorb02 .dn           (mousedown)
            */
.jssorb02 div, .jssorb02 div:hover, .jssorb02 .av {
	background: url(/js/jssor/img/b02.png) no-repeat;
	overflow: hidden;
	cursor: pointer;
}

.jssorb02 div {
	background-position: -5px -5px;
}

.jssorb02 div:hover, .jssorb02 .av:hover {
	background-position: -35px -5px;
}

.jssorb02 .av {
	background-position: -65px -5px;
}

.jssorb02 .dn, .jssorb02 .dn:hover {
	background-position: -95px -5px;
}

/* jssor slider bullet navigator skin 03 css */
/*
            .jssorb03 div           (normal)
            .jssorb03 div:hover     (normal mouseover)
            .jssorb03 .av           (active)
            .jssorb03 .av:hover     (active mouseover)
            .jssorb03 .dn           (mousedown)
            */
.jssorb03 div, .jssorb03 div:hover, .jssorb03 .av {
	background: url(/js/jssor/img/b03.png) no-repeat;
	overflow: hidden;
	cursor: pointer;
}

.jssorb03 div {
	background-position: -5px -4px;
}

.jssorb03 div:hover, .jssorb03 .av:hover {
	background-position: -35px -4px;
}

.jssorb03 .av {
	background-position: -65px -4px;
}

.jssorb03 .dn, .jssorb03 .dn:hover {
	background-position: -95px -4px;
}

.jssorb05 div:hover     (normal mouseover )
            .jssorb05 .av           (active )
            .jssorb05 .av:hover     (active mouseover )
            .jssorb05 .dn           (mousedown )
            * /
            .jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
	background: url(/js/jssor/img/b05.png) no-repeat;
	overflow: hidden;
	cursor: pointer;
}

.jssorb05 div {
	background-position: -7px -7px;
}

.jssorb05 div:hover, .jssorb05 .av:hover {
	background-position: -37px -7px;
}

.jssorb05 .av {
	background-position: -67px -7px;
}

.jssorb05 .dn, .jssorb05 .dn:hover {
	background-position: -97px -7px;
}

/*
            .jssorb06 div           (normal)
            .jssorb06 div:hover     (normal mouseover)
            .jssorb06 .av           (active)
            .jssorb06 .av:hover     (active mouseover)
            .jssorb06 .dn           (mousedown)
            */
.jssorb06 div, .jssorb06 div:hover, .jssorb06 .av {
	background: url(/js/jssor/img/b06.png) no-repeat;
	overflow: hidden;
	cursor: pointer;
}

.jssorb06 div {
	background-position: -6px -6px;
}

.jssorb06 div:hover, .jssorb06 .av:hover {
	background-position: -36px -6px;
}

.jssorb06 .av {
	background-position: -66px -6px;
}

.jssorb06 .dn, .jssorb06 .dn:hover {
	background-position: -96px -6px;
}

/*
            .jssorb07 div           (normal)
            .jssorb07 div:hover     (normal mouseover)
            .jssorb07 .av           (active)
            .jssorb07 .av:hover     (active mouseover)
            .jssorb07 .dn           (mousedown)
            */
.jssorb07 div, .jssorb07 div:hover, .jssorb07 .av {
	background: url(/js/jssor/img/b07.png) no-repeat;
	overflow: hidden;
	cursor: pointer;
}

.jssorb07 div {
	background-position: -5px -5px;
}

.jssorb07 div:hover, .jssorb07 .av:hover {
	background-position: -35px -5px;
}

.jssorb07 .av {
	background-position: -65px -5px;
}

.jssorb07 .dn, .jssorb07 .dn:hover {
	background-position: -95px -5px;
}

/*
            .jssorb09 div           (normal)
            .jssorb09 div:hover     (normal mouseover)
            .jssorb09 .av           (active)
            .jssorb09 .av:hover     (active mouseover)
            .jssorb09 .dn           (mousedown)
            */
.jssorb09 div, .jssorb09 div:hover, .jssorb09 .av {
	filter: alpha(opacity = 70);
	opacity: .7;
	overflow: hidden;
	cursor: pointer;
	border: #fff 1px solid;
}

.jssorb09 div {
	background-color: #d3d3d3;
}

.jssorb09 div:hover, .jssorb09 .av:hover {
	background-color: gray;
}

.jssorb09 .av {
	background-color: #000;
}

.jssorb09 .dn, .jssorb09 .dn:hover {
	background-color: #a9a9a9;
}

/* jssor slider bullet navigator skin 10 css */
/*
            .jssorb10 div           (normal)
            .jssorb10 div:hover     (normal mouseover)
            .jssorb10 .av           (active)
            .jssorb10 .av:hover     (active mouseover)
            .jssorb10 .dn           (mousedown)
            */
.jssorb10 div, .jssorb10 div:hover, .jssorb10 .av {
	background: url(/js/jssor/img/b10.png) no-repeat;
	overflow: hidden;
	cursor: pointer;
}

.jssorb10 div {
	background-position: -10px -10px;
}

.jssorb10 div:hover, .jssorb10 .av:hover {
	background-position: -40px -10px;
}

.jssorb10 .av {
	background-position: -70px -10px;
}

.jssorb10 .dn, .jssorb10 .dn:hover {
	background-position: -100px -10px;
}

/* jssor slider bullet navigator skin 11 css */
/*
            .jssorb11 div           (normal)
            .jssorb11 div:hover     (normal mouseover)
            .jssorb11 .av           (active)
            .jssorb11 .av:hover     (active mouseover)
            .jssorb11 .dn           (mousedown)
            */
.jssorb11 div, .jssorb11 div:hover, .jssorb11 .av {
	background: url(/js/jssor/img/b11.png) no-repeat;
	overflow: hidden;
	cursor: pointer;
}

.jssorb11 div {
	background-position: -10px -10px;
}

.jssorb11 div:hover, .jssorb11 .av:hover {
	background-position: -40px -10px;
}

.jssorb11 .av {
	background-position: -70px -10px;
}

.jssorb11 .dn, .jssorb11 .dn:hover {
	background-position: -100px -10px;
}

/* jssor slider bullet navigator skin 12 css */
/*
            .jssorb12 div           (normal)
            .jssorb12 div:hover     (normal mouseover)
            .jssorb12 .av           (active)
            .jssorb12 .av:hover     (active mouseover)
            .jssorb12 .dn           (mousedown)
            */
.jssorb12 div, .jssorb12 div:hover, .jssorb12 .av {
	background: url(/js/jssor/img/b12.png) no-repeat;
	overflow: hidden;
	cursor: pointer;
}

.jssorb12 div {
	background-position: -7px -7px;
}

.jssorb12 div:hover, .jssorb12 .av:hover {
	background-position: -37px -7px;
}

.jssorb12 .av {
	background-position: -67px -7px;
}

.jssorb12 .dn, .jssorb12 .dn:hover {
	background-position: -97px -7px;
}

/* jssor slider bullet navigator skin 13 css */
/*
            .jssorb13 div           (normal)
            .jssorb13 div:hover     (normal mouseover)
            .jssorb13 .av           (active)
            .jssorb13 .av:hover     (active mouseover)
            .jssorb13 .dn           (mousedown)
            */
.jssorb13 div, .jssorb13 div:hover, .jssorb13 .av {
	background: url(/js/jssor/img/b13.png) no-repeat;
	overflow: hidden;
	cursor: pointer;
}

.jssorb13 div {
	background-position: -5px -5px;
}

.jssorb13 div:hover, .jssorb13 .av:hover {
	background-position: -35px -5px;
}

.jssorb13 .av {
	background-position: -65px -5px;
}

.jssorb13 .dn, .jssorb13 .dn:hover {
	background-position: -95px -5px;
}

/* jssor slider bullet navigator skin 14 css */
/*
            .jssorb14 div           (normal)
            .jssorb14 div:hover     (normal mouseover)
            .jssorb14 .av           (active)
            .jssorb14 .av:hover     (active mouseover)
            .jssorb14 .dn           (mousedown)
            */
.jssorb14 div, .jssorb14 div:hover, .jssorb14 .av {
	background: url(/js/jssor/img/b14.png) no-repeat;
	overflow: hidden;
	cursor: pointer;
}

.jssorb14 div {
	background-position: -9px -9px;
}

.jssorb14 div:hover, .jssorb14 .av:hover {
	background-position: -39px -9px;
}

.jssorb14 .av {
	background-position: -69px -9px;
}

.jssorb14 .dn, .jssorb14 .dn:hover {
	background-position: -99px -9px;
}

/* jssor slider bullet navigator skin 16 css */
/*
            .jssorb16 div           (normal)
            .jssorb16 div:hover     (normal mouseover)
            .jssorb16 .av           (active)
            .jssorb16 .av:hover     (active mouseover)
            .jssorb16 .dn           (mousedown)
            */
.jssorb16 div, .jssorb16 div:hover, .jssorb16 .av {
	background: url(/js/jssor/img/b16.png) no-repeat;
	overflow: hidden;
	cursor: pointer;
}

.jssorb16 div {
	background-position: -5px -5px;
}

.jssorb16 div:hover, .jssorb16 .av:hover {
	background-position: -35px -5px;
}

.jssorb16 .av {
	background-position: -65px -5px;
}

.jssorb16 .dn, .jssorb16 .dn:hover {
	background-position: -95px -5px;
}

/* jssor slider bullet navigator skin 17 css */
/*
            .jssorb17 div           (normal)
            .jssorb17 div:hover     (normal mouseover)
            .jssorb17 .av           (active)
            .jssorb17 .av:hover     (active mouseover)
            .jssorb17 .dn           (mousedown)
            */
.jssorb17 div, .jssorb17 div:hover, .jssorb17 .av {
	background: url(/js/jssor/img/b17.png) no-repeat;
	overflow: hidden;
	cursor: pointer;
}

.jssorb17 div {
	background-position: -7px -7px;
}

.jssorb17 div:hover, .jssorb17 .av:hover {
	background-position: -37px -7px;
}

.jssorb17 .av {
	background-position: -67px -7px;
}

.jssorb17 .dn, .jssorb17 .dn:hover {
	background-position: -97px -7px;
}

/* jssor slider bullet navigator skin 18 css */
/*
            .jssorb18 div           (normal)
            .jssorb18 div:hover     (normal mouseover)
            .jssorb18 .av           (active)
            .jssorb18 .av:hover     (active mouseover)
            .jssorb18 .dn           (mousedown)
            */
.jssorb18 div, .jssorb18 div:hover, .jssorb18 .av {
	background: url(/js/jssor/img/b18.png) no-repeat;
	overflow: hidden;
	cursor: pointer;
}

.jssorb18 div {
	background-position: -3px -3px;
}

.jssorb18 div:hover, .jssorb18 .av:hover {
	background-position: -33px -3px;
}

.jssorb18 .av {
	background-position: -63px -3px;
}

.jssorb18 .dn, .jssorb18 .dn:hover {
	background-position: -93px -3px;
}

.jssorb18 .n {
	display: none;
	color: #000;
}

.jssorb18 div:hover .n, .jssorb18 .av .n, .jssorb18 .av:hover .n,
	.jssorb18 .dn .n {
	display: block;
}

/* jssor slider bullet navigator skin 20 css */
/*
            .jssorb20 div           (normal)
            .jssorb20 div:hover     (normal mouseover)
            .jssorb20 .av           (active)
            .jssorb20 .av:hover     (active mouseover)
            .jssorb20 .dn           (mousedown)
            */
.jssorb20 div, .jssorb20 div:hover, .jssorb20 .av {
	background: url(/js/jssor/img/b20.png) no-repeat;
	overflow: hidden;
	cursor: pointer;
}

.jssorb20 div {
	background-position: -5px -5px;
}

.jssorb20 div:hover, .jssorb20 .av:hover {
	background-position: -35px -5px;
}

.jssorb20 .av {
	background-position: -65px -5px;
}

.jssorb20 .dn, .jssorb20 .dn:hover {
	background-position: -95px -5px;
}

/* jssor slider bullet navigator skin 21 css */
/*
            .jssorb21 div           (normal)
            .jssorb21 div:hover     (normal mouseover)
            .jssorb21 .av           (active)
            .jssorb21 .av:hover     (active mouseover)
            .jssorb21 .dn           (mousedown)
            */
.jssorb21 div, .jssorb21 div:hover, .jssorb21 .av {
	background: url(/js/jssor/img/b21.png) no-repeat;
	overflow: hidden;
	cursor: pointer;
}

.jssorb21 div {
	background-position: -5px -5px;
}

.jssorb21 div:hover, .jssorb21 .av:hover {
	background-position: -35px -5px;
}

.jssorb21 .av {
	background-position: -65px -5px;
}

.jssorb21 .dn, .jssorb21 .dn:hover {
	background-position: -95px -5px;
}