.shadow-on-slider {
  -webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
  -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
  box-shadow: 0px 1px 5px 0px #4a4a4a;	
}

/* jssor slider arrow navigator skin 01 css */
/*
            .jssora01l              (normal)
            .jssora01r              (normal)
            .jssora01l:hover        (normal mouseover)
            .jssora01r:hover        (normal mouseover)
            .jssora01ldn            (mousedown)
            .jssora01rdn            (mousedown)
            */
.jssora01l, .jssora01r, .jssora01ldn, .jssora01rdn {
	position: absolute;
	cursor: pointer;
	display: block;
	background: url(/js/jssor/img/a01.png) no-repeat;
	overflow: hidden;
}

.jssora01l {
	background-position: -8px -38px;
}

.jssora01r {
	background-position: -68px -38px;
}

.jssora01l:hover {
	background-position: -128px -38px;
}

.jssora01r:hover {
	background-position: -188px -38px;
}

.jssora01ldn {
	background-position: -8px -38px;
}

.jssora01rdn {
	background-position: -68px -38px;
}

/* jssor slider arrow navigator skin 02 css */
/*
            .jssora02l              (normal)
            .jssora02r              (normal)
            .jssora02l:hover        (normal mouseover)
            .jssora02r:hover        (normal mouseover)
            .jssora02ldn            (mousedown)
            .jssora02rdn            (mousedown)
            */
.jssora02l, .jssora02r, .jssora02ldn, .jssora02rdn {
	position: absolute;
	cursor: pointer;
	display: block;
	background: url(/js/jssor/img/a02.png) no-repeat;
	overflow: hidden;
}

.jssora02l {
	background-position: -3px -33px;
}

.jssora02r {
	background-position: -63px -33px;
}

.jssora02l:hover {
	background-position: -123px -33px;
}

.jssora02r:hover {
	background-position: -183px -33px;
}

.jssora02ldn {
	background-position: -3px -33px;
}

.jssora02rdn {
	background-position: -63px -33px;
}

/* jssor slider arrow navigator skin 03 css */
/*
            .jssora03l              (normal)
            .jssora03r              (normal)
            .jssora03l:hover        (normal mouseover)
            .jssora03r:hover        (normal mouseover)
            .jssora03ldn            (mousedown)
            .jssora03rdn            (mousedown)
            */
.jssora03l, .jssora03r, .jssora03ldn, .jssora03rdn {
	position: absolute;
	cursor: pointer;
	display: block;
	background: url(/js/jssor/img/a03.png) no-repeat;
	overflow: hidden;
}

.jssora03l {
	background-position: -3px -33px;
}

.jssora03r {
	background-position: -63px -33px;
}

.jssora03l:hover {
	background-position: -123px -33px;
}

.jssora03r:hover {
	background-position: -183px -33px;
}

.jssora03ldn {
	background-position: -243px -33px;
}

.jssora03rdn {
	background-position: -303px -33px;
}

/* jssor slider arrow Navigator Skin 04 css */
/*
            .jssora04l              (normal)
            .jssora04r              (normal)
            .jssora04l:hover        (normal mouseover)
            .jssora04r:hover        (normal mouseover)
            .jssora04ldn            (mousedown)
            .jssora04rdn            (mousedown)
            */
.jssora04l, .jssora04r, .jssora04ldn, .jssora04rdn {
	position: absolute;
	cursor: pointer;
	display: block;
	background: url(/js/jssor/img/a04.png) no-repeat;
	overflow: hidden;
}

.jssora04l {
	background-position: -16px -39px;
}

.jssora04r {
	background-position: -76px -39px;
}

.jssora04l:hover {
	background-position: -136px -39px;
}

.jssora04r:hover {
	background-position: -196px -39px;
}

.jssora04ldn {
	background-position: -256px -39px;
}

.jssora04rdn {
	background-position: -316px -39px;
}

/* jssor slider arrow navigator skin 05 css */
/*
            .jssora05l              (normal)
            .jssora05r              (normal)
            .jssora05l:hover        (normal mouseover)
            .jssora05r:hover        (normal mouseover)
            .jssora05ldn            (mousedown)
            .jssora05rdn            (mousedown)
            */
.jssora05l, .jssora05r, .jssora05ldn, .jssora05rdn {
	position: absolute;
	cursor: pointer;
	display: block;
	background: url(/js/jssor/img/a17.png) no-repeat;
	overflow: hidden;
}

.jssora05l {
	background-position: -10px -40px;
}

.jssora05r {
	background-position: -70px -40px;
}

.jssora05l:hover {
	background-position: -130px -40px;
}

.jssora05r:hover {
	background-position: -190px -40px;
}

.jssora05ldn {
	background-position: -250px -40px;
}

.jssora05rdn {
	background-position: -310px -40px;
}

/* jssor slider arrow navigator skin 06 css */
/*
            .jssora06l              (normal)
            .jssora06r              (normal)
            .jssora06l:hover        (normal mouseover)
            .jssora06r:hover        (normal mouseover)
            .jssora06ldn            (mousedown)
            .jssora06rdn            (mousedown)
            */
.jssora06l, .jssora06r, .jssora06ldn, .jssora06rdn {
	position: absolute;
	cursor: pointer;
	display: block;
	background: url(/js/jssor/img/a06.png) no-repeat;
	overflow: hidden;
}

.jssora06l {
	background-position: -8px -38px;
}

.jssora06r {
	background-position: -68px -38px;
}

.jssora06l:hover {
	background-position: -128px -38px;
}

.jssora06r:hover {
	background-position: -188px -38px;
}

.jssora06ldn {
	background-position: -248px -38px;
}

.jssora06rdn {
	background-position: -308px -38px;
}

/* jssor slider arrow navigator skin 07 css */
/*
            .jssora07l              (normal)
            .jssora07r              (normal)
            .jssora07l:hover        (normal mouseover)
            .jssora07r:hover        (normal mouseover)
            .jssora07ldn            (mousedown)
            .jssora07rdn            (mousedown)
            */
.jssora07l, .jssora07r, .jssora07ldn, .jssora07rdn {
	position: absolute;
	cursor: pointer;
	display: block;
	background: url(/js/jssor/img/a07.png) no-repeat;
	overflow: hidden;
}

.jssora07l {
	background-position: -5px -35px;
}

.jssora07r {
	background-position: -65px -35px;
}

.jssora07l:hover {
	background-position: -125px -35px;
}

.jssora07r:hover {
	background-position: -185px -35px;
}

.jssora07ldn {
	background-position: -245px -35px;
}

.jssora07rdn {
	background-position: -305px -35px;
}

/* jssor slider arrow navigator skin 08 css */
/*
            .jssorb08l              (normal)
            .jssorb08r              (normal)
            .jssorb08l:hover        (normal mouseover)
            .jssorb08r:hover        (normal mouseover)
            .jssorb08ldn            (mousedown)
            .jssorb08rdn            (mousedown)
            */
.jssorb08l, .jssorb08r, .jssorb08ldn, .jssorb08rdn {
	position: absolute;
	cursor: pointer;
	display: block;
	background: url(/js/jssor/img/a08.png) no-repeat;
	overflow: hidden;
	opacity: .4;
	filter: alpha(opacity = 40);
}

.jssorb08l {
	background-position: -5px -35px;
}

.jssorb08r {
	background-position: -65px -35px;
}

.jssorb08l:hover {
	background-position: -5px -35px;
	opacity: .8;
	filter: alpha(opacity = 80);
}

.jssorb08r:hover {
	background-position: -65px -35px;
	opacity: .8;
	filter: alpha(opacity = 80);
}

.jssorb08ldn {
	background-position: -5px -35px;
	opacity: .3;
	filter: alpha(opacity = 30);
}

.jssorb08rdn {
	background-position: -65px -35px;
	opacity: .3;
	filter: alpha(opacity = 30);
}

/* jssor slider arrow navigator skin 09 css */
/*
            .jssora09l              (normal)
            .jssora09r              (normal)
            .jssora09l:hover        (normal mouseover)
            .jssora09r:hover        (normal mouseover)
            .jssora09ldn            (mousedown)
            .jssora09rdn            (mousedown)
            */
.jssora09l, .jssora09r, .jssora09ldn, .jssora09rdn {
	position: absolute;
	cursor: pointer;
	display: block;
	background: url(/js/jssor/img/a09.png) no-repeat;
	overflow: hidden;
	opacity: .4;
	filter: alpha(opacity = 40);
}

.jssora09l {
	background-position: -5px -35px;
}

.jssora09r {
	background-position: -65px -35px;
}

.jssora09l:hover {
	background-position: -5px -35px;
	opacity: .8;
	filter: alpha(opacity = 80);
}

.jssora09r:hover {
	background-position: -65px -35px;
	opacity: .8;
	filter: alpha(opacity = 80);
}

.jssora09ldn {
	background-position: -5px -35px;
	opacity: .3;
	filter: alpha(opacity = 30);
}

.jssora09rdn {
	background-position: -65px -35px;
	opacity: .3;
	filter: alpha(opacity = 30);
}

/* jssor slider arrow navigator skin 10 css */
/*
            .jssora10l              (normal)
            .jssora10r              (normal)
            .jssora10l:hover        (normal mouseover)
            .jssora10r:hover        (normal mouseover)
            .jssora10ldn            (mousedown)
            .jssora10rdn            (mousedown)
            */
.jssora10l, .jssora10r, .jssora10ldn, .jssora10rdn {
	position: absolute;
	cursor: pointer;
	display: block;
	background: url(/js/jssor/img/a10.png) no-repeat;
	overflow: hidden;
}

.jssora10l {
	background-position: -16px -39px;
}

.jssora10r {
	background-position: -76px -39px;
}

.jssora10l:hover {
	background-position: -136px -39px;
}

.jssora10r:hover {
	background-position: -196px -39px;
}

.jssora10ldn {
	background-position: -256px -39px;
}

.jssora10rdn {
	background-position: -316px -39px;
}

/* jssor slider arrow navigator skin 11 css */
/*
            .jssora11l              (normal)
            .jssora11r              (normal)
            .jssora11l:hover        (normal mouseover)
            .jssora11r:hover        (normal mouseover)
            .jssora11ldn            (mousedown)
            .jssora11rdn            (mousedown)
            */
.jssora11l, .jssora11r, .jssora11ldn, .jssora11rdn {
	position: absolute;
	cursor: pointer;
	display: block;
	background: url(/js/jssor/img/a11.png) no-repeat;
	overflow: hidden;
}

.jssora11l {
	background-position: -11px -41px;
}

.jssora11r {
	background-position: -71px -41px;
}

.jssora11l:hover {
	background-position: -131px -41px;
}

.jssora11r:hover {
	background-position: -191px -41px;
}

.jssora11ldn {
	background-position: -251px -41px;
}

.jssora11rdn {
	background-position: -311px -41px;
}

/* jssor slider arrow navigator skin 12 css */
/*
            .jssora12l              (normal)
            .jssora12r              (normal)
            .jssora12l:hover        (normal mouseover)
            .jssora12r:hover        (normal mouseover)
            .jssora12ldn            (mousedown)
            .jssora12rdn            (mousedown)
            */
.jssora12l, .jssora12r, .jssora12ldn, .jssora12rdn {
	position: absolute;
	cursor: pointer;
	display: block;
	background: url(/js/jssor/img/a12.png) no-repeat;
	overflow: hidden;
}

.jssora12l {
	background-position: -16px -37px;
}

.jssora12r {
	background-position: -75px -37px;
}

.jssora12l:hover {
	background-position: -136px -37px;
}

.jssora12r:hover {
	background-position: -195px -37px;
}

.jssora12ldn {
	background-position: -256px -37px;
}

.jssora12rdn {
	background-position: -315px -37px;
}

/* jssor slider arrow navigator skin 13 css */
/*
            .jssora13l              (normal)
            .jssora13r              (normal)
            .jssora13l:hover        (normal mouseover)
            .jssora13r:hover        (normal mouseover)
            .jssora13ldn            (mousedown)
            .jssora13rdn            (mousedown)
            */
.jssora13l, .jssora13r, .jssora13ldn, .jssora13rdn {
	position: absolute;
	cursor: pointer;
	display: block;
	background: url(/js/jssor/img/a13.png) no-repeat;
	overflow: hidden;
}

.jssora13l {
	background-position: -10px -35px;
}

.jssora13r {
	background-position: -70px -35px;
}

.jssora13l:hover {
	background-position: -130px -35px;
}

.jssora13r:hover {
	background-position: -190px -35px;
}

.jssora13ldn {
	background-position: -250px -35px;
}

.jssora13rdn {
	background-position: -310px -35px;
}

/* jssor slider arrow navigator skin 14 css */
/*
            .jssora14l              (normal)
            .jssora14r              (normal)
            .jssora14l:hover        (normal mouseover)
            .jssora14r:hover        (normal mouseover)
            .jssora14ldn            (mousedown)
            .jssora14rdn            (mousedown)
            */
.jssora14l, .jssora14r, .jssora14ldn, .jssora14rdn {
	position: absolute;
	cursor: pointer;
	display: block;
	background: url(/js/jssor/img/a14.png) no-repeat;
	overflow: hidden;
}

.jssora14l {
	background-position: -15px -35px;
}

.jssora14r {
	background-position: -75px -35px;
}

.jssora14l:hover {
	background-position: -135px -35px;
}

.jssora14r:hover {
	background-position: -195px -35px;
}

.jssora14ldn {
	background-position: -255px -35px;
}

.jssora14rdn {
	background-position: -315px -35px;
}

/* jssor slider arrow navigator skin 15 css */
/*
            .jssora15l              (normal)
            .jssora15r              (normal)
            .jssora15l:hover        (normal mouseover)
            .jssora15r:hover        (normal mouseover)
            .jssora15ldn            (mousedown)
            .jssora15rdn            (mousedown)
            */
.jssora15l, .jssora15r, .jssora15ldn, .jssora15rdn {
	position: absolute;
	cursor: pointer;
	display: block;
	background: url(/js/jssor/img/a15.png) no-repeat;
	overflow: hidden;
}

.jssora15l {
	background-position: -20px -41px;
}

.jssora15r {
	background-position: -80px -41px;
}

.jssora15l:hover {
	background-position: -140px -41px;
}

.jssora15r:hover {
	background-position: -200px -41px;
}

.jssora15ldn {
	background-position: -260px -41px;
}

.jssora15rdn {
	background-position: -320px -41px;
}

/* jssor slider arrow navigator skin 16 css */
/*
            .jssora16l              (normal)
            .jssora16r              (normal)
            .jssora16l:hover        (normal mouseover)
            .jssora16r:hover        (normal mouseover)
            .jssora16ldn            (mousedown)
            .jssora16rdn            (mousedown)
            */
.jssora16l, .jssora16r, .jssora16ldn, .jssora16rdn {
	position: absolute;
	cursor: pointer;
	display: block;
	background: url(/js/jssor/img/a16.png) no-repeat;
	overflow: hidden;
}

.jssora16l {
	background-position: -19px -42px;
}

.jssora16r {
	background-position: -79px -42px;
}

.jssora16l:hover {
	background-position: -139px -42px;
}

.jssora16r:hover {
	background-position: -199px -42px;
}

.jssora16ldn {
	background-position: -259px -42px;
}

.jssora16rdn {
	background-position: -319px -42px;
}

/* jssor slider arrow Navigator Skin 18 css */
/*
            .jssora18l              (normal)
            .jssora18r              (normal)
            .jssora18l:hover        (normal mouseover)
            .jssora18r:hover        (normal mouseover)
            .jssora18ldn            (mousedown)
            .jssora18rdn            (mousedown)
            */
.jssora18l, .jssora18r, .jssora18ldn, .jssora18rdn {
	position: absolute;
	cursor: pointer;
	display: block;
	background: url(/js/jssor/img/a18.png) no-repeat;
	overflow: hidden;
}

.jssora18l {
	background-position: -16px -45px;
}

.jssora18r {
	background-position: -76px -45px;
}

.jssora18l:hover {
	background-position: -136px -45px;
}

.jssora18r:hover {
	background-position: -196px -45px;
}

.jssora18ldn {
	background-position: -256px -45px;
}

.jssora18rdn {
	background-position: -316px -45px;
}

/* jssor slider arrow navigator skin 19 css */
/*
            .jssora19l              (normal)
            .jssora19r              (normal)
            .jssora19l:hover        (normal mouseover)
            .jssora19r:hover        (normal mouseover)
            .jssora19ldn            (mousedown)
            .jssora19rdn            (mousedown)
            */
.jssora19l, .jssora19r, .jssora19ldn, .jssora19rdn {
	position: absolute;
	cursor: pointer;
	display: block;
	background: url(/js/jssor/img/a19.png) no-repeat;
	overflow: hidden;
}

.jssora19l {
	background-position: -5px -35px;
}

.jssora19r {
	background-position: -65px -35px;
}

.jssora19l:hover {
	background-position: -125px -35px;
}

.jssora19r:hover {
	background-position: -185px -35px;
}

.jssora19ldn {
	background-position: -245px -35px;
}

.jssora19rdn {
	background-position: -305px -35px;
}

/* jssor slider arrow navigator skin 20 css */
/*
            .jssora20l              (normal)
            .jssora20r              (normal)
            .jssora20l:hover        (normal mouseover)
            .jssora20r:hover        (normal mouseover)
            .jssora20ldn            (mousedown)
            .jssora20rdn            (mousedown)
            */
.jssora20l, .jssora20r, .jssora20ldn, .jssora20rdn {
	position: absolute;
	cursor: pointer;
	display: block;
	background: url(/js/jssor/img/a20.png) no-repeat;
	overflow: hidden;
}

.jssora20l {
	background-position: -3px -33px;
}

.jssora20r {
	background-position: -63px -33px;
}

.jssora20l:hover {
	background-position: -123px -33px;
}

.jssora20r:hover {
	background-position: -183px -33px;
}

.jssora20ldn {
	background-position: -243px -33px;
}

.jssora20rdn {
	background-position: -303px -33px;
}

/* jssor slider arrow navigator skin 21 css */
/*
            .jssora21l              (normal)
            .jssora21r              (normal)
            .jssora21l:hover        (normal mouseover)
            .jssora21r:hover        (normal mouseover)
            .jssora21ldn            (mousedown)
            .jssora21rdn            (mousedown)
            */
.jssora21l, .jssora21r, .jssora21ldn, .jssora21rdn {
	position: absolute;
	cursor: pointer;
	display: block;
	background: url(/js/jssor/img/a21.png) center center no-repeat;
	overflow: hidden;
}

.jssora21l {
	background-position: -3px -33px;
}

.jssora21r {
	background-position: -63px -33px;
}

.jssora21l:hover {
	background-position: -123px -33px;
}

.jssora21r:hover {
	background-position: -183px -33px;
}

.jssora21ldn {
	background-position: -243px -33px;
}

.jssora21rdn {
	background-position: -303px -33px;
}

/* jssor slider arrow navigator skin 22 css */
/*
            .jssora22l              (normal)
            .jssora22r              (normal)
            .jssora22l:hover        (normal mouseover)
            .jssora22r:hover        (normal mouseover)
            .jssora22ldn            (mousedown)
            .jssora22rdn            (mousedown)
            */
.jssora22l, .jssora22r, .jssora22ldn, .jssora22rdn {
	position: absolute;
	cursor: pointer;
	display: block;
	background: url(/js/jssor/img/a22.png) center center no-repeat;
	overflow: hidden;
}

.jssora22l {
	background-position: -10px -31px;
}

.jssora22r {
	background-position: -70px -31px;
}

.jssora22l:hover {
	background-position: -130px -31px;
}

.jssora22r:hover {
	background-position: -190px -31px;
}

.jssora22ldn {
	background-position: -250px -31px;
}

.jssora22rdn {
	background-position: -310px -31px;
}